<script type="text/javascript">
	function postData(voto) {
	var url = "users/add_activity/<%= current_user.facebook_id %>?activity_id=" + voto;
	$.ajax({
  	type: 'POST',
  	url: url
	});

	window.location = "votacion";
}
</script>

<div style="height: 820px;">
	<%= image_tag "liston_top.png" %>
	<%= image_tag "top_votacion.png" %>
	<div class="limon" onClick="postData(<%= Candidato.find(1).activities.last.id %>)">
	</div>
	<div class="manzana" onClick="postData(<%= Candidato.find(3).activities.last.id %>)">
	</div>
	<div class="toronja" onClick="postData(<%= Candidato.find(2).activities.last.id %>)">
	</div>
	</a>
</div>
