<div class="frame">
	<%= image_tag "liston_top.png" =%>
	<%= image_tag "top_votacion.png" =%>
	<div class="limon">
		<center>
			<%= image_tag "partido_limon.png", :class => "boton" =%> <br />
			<%= image_tag "vota_limon.png", :class => "leyenda" =%>
		</center>
	</div>
	<div class="manzana">
		<center>
			<%= image_tag "partido_manzana.png", :class => "boton" =%> <br />
			<%= image_tag "vota_manzana.png", :class => "leyenda" =%>
		</center>
	</div>
	<div class="toronja">
		<center>
			<%= image_tag "partido_toronja.png", :class => "boton" =%> <br />
			<%= image_tag "vota_toronja.png", :class => "leyenda" =%>
		</center>
	</div>
</div>
