<div class="frame2">
	<%= image_tag "liston_top.png" %>
	<%= image_tag "top_votacion.png" %>
	<div class="<%= @clase_limon %>">
		<div class="liston_limon">
			<div class="numeros_votacion">
				<%= @votos_limon %>
			</div>
		</div>
	</div>
	<div class="<%= @clase_manzana %>">
		<div class="liston_manzana">
			<div class="numeros_votacion">
				<%= @votos_manzana %>
			</div>
		</div>
	</div>
	<div class="<%= @clase_toronja %>">
		<div class="liston_toronja">
			<div class="numeros_votacion">
				<%= @votos_toronja %>
			</div>
		</div>
	</div>
	</a>
</div>
<div class="mensaje">
<p>¡Gracias VOTO por ser Especial!</p>
<p>También puedes votar en <a href="http://www.facebook.com/JCEspecial">Facebook.com/JCEspecial</a> utilizando PC o MAC y podrás ¡GANAR PREMIOS!</p>
</div>
